body {
	color : black;
	background-color: #f9f9f9;
	font-family: "Arial" ,"Apple Garamond" , "Ubuntu";
	font-size: 14px;
}
div {
	display:block;
}
a.backtotop{
	font-size:20px;
	padding-right:30px;
}
a{
	text-decoration: none;
}

p { 
	text-align: justify;
}
i{
	color:yellow;
}

.demob{
	padding-top:70px;
}

h1.demo{
	padding:30px;
	position: center;
}
video{
	width:50%;
}
img{
	padding:5%;
	max-width:50%;
	max-height:50%;
}
/*change anchor when click visited*/
/* a , a:visited , a:hover*/
a:visited {
	text-decoration: none;
	color:#000;
}
/*change color when click*/
a:hover {
	text-decoration: none;
	color:yellow;
}
figure{
	width:100%;	
	text-align: center;
	margin:0;
	padding:0;

}
figcaption{
	text-align: center;
}
.header{
	font-family: "\5FAE\8F6F\96C5\9ED1";
}

.header .top-bar{
	overflow: hidden;
	width:100%;
	height: 60px;
	background: url("../image/logo.png") no-repeat ;

}
.header .top-bar .mod{
	height: 60px;
}
.mod{
	width: 82%;
	margin:0 auto;
}
.button-people {
	width: 140px;
}
*{
	margin:0;
	padding:0;
}
.header .mod h1{
	width:150px;
	height: 60px;
	margin:0;
	text-indent: -99999px;
	float:left;
	display:inline;
}
h1{
	font-size:2em;
}
a{
	padding-left:50px;
	font-size:50px;	
	display:block;
	width: 100%;
	height:100%;
}	
.banner{
	width:100%;
	height:365px;
	background:url("../image/pewpew.jpg") center;
}
.wrap{
	width:100%;
	margin:0 auto;
}
.wrap {
	background-color: orange;
	width:100%;
	position: center;
	height: 10px;
	margin-top: 0px;
	margin-bottom: 5px;
}

h1.welcome{
	text-align: center;
	size: 30px;
	padding:10px;
	color:black;
}
.container{
	position: relative;
}

.container{
	padding-top:80px;
	margin-right:auto;
	margin-left:auto;
	padding-left: 15px;
	padding-right:15px;
}
.col-xs-12{
	width:100%;
	float:left;
	position: relative;
	min-height: 1px;
	padding:30px;
}
.text-center{
	text-align: center;
}
h1.xxlg{
	color:black;
	fill:#fff;
	font-size:2.5em;
	line-height: 1.05;
}
h1{
	font-style: italic;
	color:black;
	font-weight: 500;
	margin:1.25rem 0;
}
body h1{
	font-family: "beenton-sans",arial,helvetica,sans-serif;
}
h2{
	color:lightgray;
	fill:#fff;
	font-family: "beenton-sans",arial,helvetica,sans-serif;
	font-size:1.6em;
	line-height:1.3;
	margin:1.25rem 0;
}
.font-weight-300{
	font-weight:300;
}
