div > p {
	font-style: italic;
}

.row{
	text-align: center;
}
div.people{
	overflow: auto;
	padding-top:40px;
	background-color:transparent;
	border:2px solid currentcolor;
	box-shadow: black;
	border-style: ridge;
	border-radius: 10px;
	border-left: 30px;
}
div.name{
	width:65%;
	float:left;
}
div.biography{
	padding-top:30px;
	width:35%;
	float:left;
	margin:0;
	padding:0;
}

